@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',SANS-SERIF;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pinkbg.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(14, 12, 36, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #07111a;
    text-align: center;
}
.input-box {
    position: relative;
    width: 310px;
    border-bottom: 3px solid  #07111a;
    margin: 30px 0;
} 
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  #07111a;
    font-weight: 550;
    pointer-events: none;
    transition: .5s;
}
input:focus~label,
input:valid~label
{
top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:  #07111a;
    padding: 0 35px 0 5px;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
    color: #07111a;
}
.remember-forgot {
    font-size: 0.8em;
    color:  #07111a;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-evenly;
}
.remember-forgot label input{
    margin-right: 3px;
    font-weight: 550;
}
.remember-forgot label a{
    color:  #07111a;
    text-decoration:none;
    font-weight: 600;
}
.remember-forgot label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: transparent;
    border:1.5px solid  #07111a;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color:  #07111a;
    text-align: center;
    margin: 25px 0 10px;
}
.register p{
    font-weight: 550;
}
.register p a{
    text-decoration: none;
    color:  #07111a;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.home-button a> img{
    width: 6vh;
    height: 6vh;
    margin: 0%;
    padding: 0%;
    position:relative;
    bottom: 39vh;
    right: 60vh;
}

.google{
    width: 150px;
}
.fb{
    background-color: rgba(55, 92, 166, 0.961);
    width: 150px;
    
}
.img{
    width: 30px;
    height: auto;
    padding-left: 2px;
}
.f{
    font-size: 0.7em;
    color: aliceblue;


}
.home{
    border:none ;
}
.backbutton{
    text-align: left;
}