@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&family=Open+Sans&family=Poppins:wght@100;300;400;800&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuClass{
    
    margin: 0 20px 0 0;
    margin-top: 50px;
    margin-right: 50px;
/* padding-left: 1.25em; */
cursor: pointer;
position: relative;
text-align: right;
float: right;
/* background-color: green; */
position: absolute;
right: 10px;
}
.menu{
    width: 60px;
    height: 60px;
    fill: #C5D2D8;
}
.coverPage{
    height: 100vh;
    width: 100%;
    background-color: #040D12;
 
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background-color: red; */
    
}
.title h1 { 
    font-family: Poppins;
    font-weight: 800;
    font-size: 15rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url('images/titleMap.jpg');
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    background-size: contain;
    background-position: 30%;
    color: transparent;
    
}
.title{
    /* background-color: red; */
    width: 80%;
    background-image: url("images/R.png");
    background-repeat: no-repeat;
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    
}
 .aboutUs{
    width: 100%;
    height: auto;
    background-image: url("images/pexels-simon-berger-688660\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
 }
 .smalrect{
    width: 90%;
    text-align: center;
    background-color: rgba(4, 13, 18, 0.76);
    border-radius: 23px;
    margin-top: 70px;
    margin-bottom: 70px;
    

 }
.aboutUs h2{
    font-family: poppins;
    font-size: 8em;
    font-weight: 600;
    color: #D6D5C5;
    margin-top: 30px;
}
.aboutUs p{
    font-family: poppins;
    color: #FFFFFF;
    font-size: 2em;
}
.txt{
    width: 90%;
    /* background-color: red; */
    padding-bottom: 10px;
}
.paraWrapper{
    display: flex;
    justify-content: center;
}


