@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',SANS-SERIF;
}
.home{
    border:none ;
}
.backbutton{
    text-align: left;
}
section {
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('pinkbg.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(14, 12, 36, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;  
}
h2{
    position: relative;
    font-size: 2em;
    color: #07111a;
    text-align: center;
    top: 40px;
}
.input-box {
    position: relative;
    width: 310px;
    border-bottom: 3px solid #07111a;
    top: 50px;
} 
.input-box input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:  #07111a;
}
.input-box label{
    position: absolute;
    top: 40px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  #07111a;
    font-weight: 550;
    pointer-events: none;
    transition: .5s;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 30px;
    color: #07111a;
}
input:focus~label,
input:valid~label
{
top: 10px;
}
.remember{
    font-size: 0.8em;
    color:  #07111a;
    display: flex;
}
.remember label input{
    /* margin-right: 3px; */
    font-weight: 550;
}
.forgot a{
    font-size: 0.8em;
    color:  #07111a;
    text-decoration:none;
    font-weight: 600;
}
.forgot label a:hover{
    text-decoration: underline;
}
.label{
    text-align: center;
}
.label hr{
    position: absolute;
    background-color: #07111a;
    width:140px ;
    height: 1.5px ;
    border: 0px;
}
.label .leftline{
    margin: ;
}
.label .rightline{}
button{
    width: 100%;
    height: 40px;
    background: transparent;
    border:1.5px solid  #07111a;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 550;
}
.google button{
    width: 150px;
    height: 40px;
}
.google img{
    position:absolute;
    background-color: aliceblue;
    height: 30px;
    width: 30px;
}
.google p{
    position:absolute;
}
.fb button{
    /* background-color: rgba(55, 92, 166, 0.961); */
    width: 150px;
    height: 40px;
}
.fb img{
    position:absolute;
    height: 30px;
    width: 30px;
    margin-left: 0px;
}
.fb p{
    position:absolute;
}
.register{
    font-size: .9em;
    color:  #07111a;
    /* text-align: center; */
    /* margin: 25px 0 10px; */
}
.register p{
    font-weight: 550;
}
.register p a{
    text-decoration: none;
    color:  #07111a;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
