@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',SANS-SERIF;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pinkbg.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.registerbox{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(14, 12, 36, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.8em;
    color: #162a39;
    text-align: center;
}
.input-box {
    position: relative;
    width: 310px;
    border-bottom: 2px solid #162938;
    margin: 13px;
} 
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.85em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
input:focus~label,
input:valid~label
{
top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    padding: 0 35px 0 5px;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
    color: #162938;
}
.remember-forgot {
    font-size: 0.7em;
    color: #162938;
    margin: -1px 0 15px;
    display: flex;
    justify-content: center;
}
.remember-forgot label input{
    margin-right: 3px;
}
.remember-forgot label a{
    color: #162938;
    text-decoration:none;
    font-weight: 600;
}
.remember-forgot label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: transparent;
    border:1.5px solid #162938;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .75em;
    color: #162938;
    text-align: center;
    margin: 10px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #162938;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.home-button a> img{
    width: 6vh;
    height: 6vh;
    margin: 0%;
    padding: 0%;
    position:relative;
    bottom: 39vh;
    right: 60vh;
}


